<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeyItem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KeyItem.Properties.Settings>
            <setting name="Time" serializeAs="String">
                <value />
            </setting>
            <setting name="keyDay" serializeAs="String">
                <value />
            </setting>
            <setting name="k_0" serializeAs="String">
                <value />
            </setting>
            <setting name="K_60" serializeAs="String">
                <value />
            </setting>
            <setting name="K_120" serializeAs="String">
                <value />
            </setting>
            <setting name="K_180" serializeAs="String">
                <value />
            </setting>
            <setting name="K_240" serializeAs="String">
                <value />
            </setting>
            <setting name="K_300" serializeAs="String">
                <value />
            </setting>
            <setting name="K_360" serializeAs="String">
                <value />
            </setting>
            <setting name="K_420" serializeAs="String">
                <value />
            </setting>
            <setting name="K_480" serializeAs="String">
                <value />
            </setting>
            <setting name="K_540" serializeAs="String">
                <value />
            </setting>
            <setting name="K_600" serializeAs="String">
                <value />
            </setting>
        </KeyItem.Properties.Settings>
    </userSettings>
</configuration>